/* COMMON - START  */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px 24px;
  width: 350px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
/* COMMON - END  */

/* INPUT - START  */
.flex {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: auto;
}

.input-container {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.input-label {
  color: var(--grey);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.input-input {
  font-size: 20px;
  font-weight: 700;
  border: 1px solid var(--line);
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
}

.input-input::placeholder {
  color: black;
}

.line-container {
  background-color: var(--purple);
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 32px auto;
}

.line-container:hover {
  background-color: var(--black);
}

.line-btn {
  padding: 0;
  border: 0;
  background-color: var(--purple);
  cursor: pointer;
}

.line-btn:hover {
  background-color: var(--black);
}

.line-image {
  height: 24px;
  width: 24px;
}

/* INPUT - END  */

/* OUTPUT - START  */
.output-title {
  color: var(--black);
  font-size: 56px;
  font-weight: 800;
  font-style: italic;
}

.output-number {
  color: var(--purple);
}
/* OUTPUT - END  */

/* ATTRIBUTION - START */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--purple);
  text-decoration: none;
}
/* ATTRIBUTION - END */

@media screen and (min-width: 400px) {
  /* COMMON - START  */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 56px;
    width: 840px;
  }
  /* COMMON - END  */

  /* INPUT - START  */
  .input-label {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .line-container {
    height: 96px;
    width: 96px;
    margin-right: 0;
  }

  .line-image {
    height: 44px;
    width: 44px;
  }
  /* INPUT - END  */

  /* OUTPUT - START  */
  .output-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .output-title {
    font-size: 104px;
  }
  /* OUTPUT - END  */
}
